<div class="form-container">
  <h2>{{ isEdit ? 'Editar Aluno' : 'Novo Aluno' }}</h2>

  <form [formGroup]="form" (ngSubmit)="salvar()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
      <mat-error *ngIf="form.get('nome')?.invalid">Nome obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="form.get('email')?.invalid">Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('dataNascimento')?.hasError('menorDeIdade')">
        Aluno deve ser maior de idade
      </mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ isEdit ? 'Salvar' : 'Cadastrar' }}
      </button>
      <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
